In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("I:\Valere Internship\Week 1\Day 4\country.csv")
print(data)

                  Name Code
0          Afghanistan   AF
1        Åland Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[249 rows x 2 columns]

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    249 non-null    object
 1   Code    248 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB
None

In [5]:
print(data.head())

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [6]:
print(data.describe())

               Name Code
count           249  248
unique          249  248
top     Afghanistan   AF
freq              1    1

In [7]:
print(data.dropna)

<bound method DataFrame.dropna of                   Name Code
0          Afghanistan   AF
1        Åland Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[249 rows x 2 columns]>